:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Very-Dark-Blue-B: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
body {
  background-color: var(--Very-Light-Gray);
}

.nav-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}
.inputs-component {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1.4rem;
}
/* width and height can have +20px*/
.card{
  width: 360px;
  height: 315px;
}
.card-image{
  max-height: 180px;
  aspect-ratio:auto;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-content{
  height: 100%;
  width: 100%;
}
#big-flag {
  max-width: 430px;
}
#big-flag img {
  display: block;
  width: 100%;
}
.icon:hover{
  color: aqua !important;
}